:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 1em;
  flex-grow: 4;
}

footer {
  height: 8em;
  color: white;
  background-color: black;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 2em;
}
